<ion-view view-title="About" side="left">
<ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-chevron-left" ui-sref="app.main"></button>
  </ion-nav-buttons>
  <ion-content>

      <a class="item item-avatar" >
        <i class="icon ion-ios-gear"></i>
        <h2>Development</h2>
        <p>Information about the development</p>
      </a>

      <a class="item item-avatar">
        <i class="icon ion-person"></i>
        <h2>Developer</h2>
        <p>About the faken developer</p>
      </a>
  </ion-content>
</ion-view>
